<div>
    <form [formGroup]="form" class="formClass">
        <mat-form-field appearance="outline" class="formFieldClassText" style="width:100%">
            <mat-label>Disease</mat-label>
            <!-- <input matInput formControlName="allergies"> -->
            <textarea matInput formControlName="disease"></textarea>
            <mat-icon matSuffix>masks</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formFieldClassText" style="width:100%">
            <mat-label>Medicine</mat-label>
            <!-- <input matInput formControlName="diseases"> -->
            <textarea matInput formControlName="medicine"></textarea>
            <mat-icon matSuffix>healing</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formFieldClassText" style="width:100%">
            <mat-label>Doctor</mat-label>
            <!-- <input matInput formControlName="injuryhistory"> -->
            <textarea matInput formControlName="doctor"></textarea>
            <mat-icon matSuffix>local_hospital</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formFieldClassText" style="width:48%">
            <mat-label>Start Date</mat-label>
            <input type="date" matInput formControlName="startDate">
        </mat-form-field>
        <mat-form-field appearance="outline" class="formFieldClassText"  style="margin-left:4%; width:48%">
            <mat-label>End Date</mat-label>
            <input type="date" matInput formControlName="endDate">
        </mat-form-field>

        <mat-form-field appearance="outline" class="formFieldClassText" style="width:100%">
            <mat-label>Reports</mat-label>
            <!-- <input matInput formControlName="injuryhistory"> -->
            <textarea matInput formControlName="reports"></textarea>
            <mat-icon matSuffix> insert_drive_file</mat-icon>
        </mat-form-field>

        <div style="display: flex;flex-direction: column;">
            <div style="margin-left: 38%;">
                <button mat-raised-button class="button" (click)="submit()">Submit</button> &nbsp;&nbsp;
                <button mat-raised-button class="button" (click)="close()">Close</button>
            </div>
        </div>

        <!-- <div class="text-center">
            <input class="form-control" type="file" (change)="onChange($event)">
            <button (click)="onUpload()"class="btn btn-success">Upload</button>
        </div>
        
        <-- Shareable short link of uploaded file -->
        <!-- <div class="container text-center jumbotron"
            *ngIf="shortLink">
            <h2> Visit Here</h2>
            <a href="{{shortLink}}">{{shortLink}}</a>
        </div> -->
        
        <!--Flag variable is used here-->
        <!-- <div class="container" *ngIf="loading">
            <h3>Loading ...</h3>
        </div> -->
        
    </form>
</div>